python-dotenv
groq
pytesseract
Pillow
requests
speechrecognition
pydub
streamlit
pyngrok
pyaudio
tk
fastapi
uvicorn
python-multipart
python-socketio
beautifulsoup4
selenium
webdriver-manager
pandas
nbformat
nbconvert
simple-salesforce
ipython